/* .app-layout {
    padding-top: 6rem !important;
    margin-right: 2rem;
    margin-left: 2rem;
  } */

  .app-layout {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; Horizontal centering */
    /* justify-content: center; Vertical centering */
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;

    padding-bottom: 2rem!important; /* Bottom padding */
    padding-top: 6rem;
    padding-right: 10rem;
    padding-left: 10rem;
    min-height: 100vh; /* Ensure it takes at least the full viewport height */
    box-sizing: border-box; /* Include padding in height calculation */
    width: 100%;
  }

  .home-layout {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    /* Only apply padding to the sides, not the top and bottom */
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
  
  /* .gutter-container {
    width: 100%;
    max-width: 1200px; 
    padding-top: 40rem!important;
    padding-left: 10rem!important; 
    padding-right: 10rem!important; 
    box-sizing: border-box; 
  } */
   
  .circular-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-photo {
    width: 15rem;
    height: 15rem;
    align-self: center;
    padding: .5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .lightgrey-card {
    background-color: rgb(168, 232, 166);
  }

  .deep-green-card {
    background-color: #198754;
  }

.center-content {
  display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}


.white-text {
  color: white;
}


.bannerContainer{
  padding: 0 !important;
  height: 100vh;
  overflow: hidden;
  
}


.bannerImage{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: cover;
  bottom: 0;
  filter: blur(2px);
}


.home-text{
  width: 80%;
  height: auto;
  margin: 100px;
  padding: 50px;
  position: absolute;
  bottom: 1;
}

.home-card {
  background-color: rgb(156, 216, 154);
  width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.request-detail {
  font-size: 1rem;
  margin: 0;
}