@model TodoApi.CarbonInterFaceAPI

<!DOCTYPE html>
<html>
<head>
    <title>Carbon Interface Data</title>
</head>
<body>
    <h1>Vehicle Information</h1>
    <ul>
        <li><strong>ID:</strong> @Model.Id</li>
        <li><strong>Make:</strong> @Model.Vehicle_make</li>
        <li><strong>Model:</strong> @Model.Vehicle_model</li>
        <li><strong>Year:</strong> @Model.Vehicle_year</li>
    </ul>
</body>
</html>