#square-tiles{
    display: flex;
    flex-direction: row;
}

#square{
  width: 150px;
  height: 40px;
  background-color: #B0EC92;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
}