.flex-div {
    display: flex;
    flex-direction: row;
}

.edit-button {
    margin-left: auto;
    background-color: #dedcdc;
    border: 0;
    padding-top: 0
}

.edit-button:hover {
    background-color: #e4e3e3;
    border: 0;
}