.flex-div {
    display: flex;
    flex-direction: row;
}

.edit-button {
    margin-left: auto;
    background-color: rgb(198, 231, 197);
    border: 0;
    padding-top: 0
}

.edit-button:hover {
    background-color: rgb(209, 236, 208);
    border: 0;
}

.no-bullets-on-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.statistics-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}